
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body{
    overflow: hidden;
} */
nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Três colunas iguais */
    align-items: center;
    justify-items: center;
    width: 100%;
    background-color: rgb(102, 102, 102);
    height: 80px;
}

nav div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    /* justify-content: center; */
}
.back{
    width: 50px;
    height: 50px;
    margin: 20px;
}
#text-logo{
    width: 25px;
    font-size: 15px;
    line-height: 1;
    font-family: poppins;
}
h1{
    font-family: poppins;
}
#burger{
    width: 70px;
    height: 60px;
}
.chamada{
    width: 100%;
    height: 400px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../img/classico-americano.jpg');
}
.overlay{
    width: 100%;
    height: 100%;
    background-color: #00000096;
    display: flex;
    align-items: center;
    justify-content: left;
}
 
.overlay-receita{
    width: 100%;
    height: 100%;
    background-color: #000000af;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: poppins;
    font-size: 30px;
    color: whitesmoke;
    
}
.overlay-receita h2{
    color: white;
    font-weight: 600;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.overlay h2{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
    font-size: 35px;
    margin: 40px;
}
.overlay div{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.receitas-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.receitas-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: poppins;
    height: 500px;

}
.receitas-box a{
    text-decoration: none;
    color: black;
    
}
.receitas-box img{
    width: 450px;
    border-radius: 4px;
}
.receitas-box div{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 40px;
    max-width: 500px;
}
.receitas-box h2{
    font-weight: 900;
    font-size: 35px;
    margin: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.receitas-box p{
    text-indent: 25px;
}
.inverter{
    display: flex;
    flex-direction: row-reverse;
    background-color: rgba(0, 0, 0, 0.281);
}

footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 130px;
    background-color:  rgb(102, 102, 102);
}

.footer-box{
width: 33.333%;
display: flex;
align-items: center;
justify-content: center;
font-family: poppins;
flex-direction: column;
}
.footer-box img{
    width: 20px;
    height: 20px;
    margin-right: 4px;
}
.footer-box h2{
    font-weight: 500;
}
.social{
    display: flex;
    flex-direction: row;
}
.linha{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

pre{
    font-family: poppins; 
    line-height: 1.5;
    padding: 50px;
}
